*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root
{
    --bgc: #222327;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bgc);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav
{
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav ul
{
    display: flex;
    width: 350px;
}

.nav ul li
{
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nav ul li a
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.nav ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: var(--bgc);
    transition: 0.5s;
}

.nav ul li.active a .icon
{
    transform: translateY(-35px);

}

.nav ul li a .text
{
    position: absolute;
    color: var(--bgc);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.nav ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: lightcoral;
    border-radius: 50%;
    border: 6px solid var(--bgc);
    transition: 0.5s; 
}

.indicator::before
{
    content: "";
    top: 50%;
    left: -22px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--bgc);
}

.indicator::after
{
    content: "";
    top: 50%;
    right: -22px;
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--bgc);
}

.nav ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}

.nav ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}

.nav ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}

.nav ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}

.nav ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}



/* MEDIA QUERIES */
@media screen and (max-width:405px)
{
    .nav
    {
        position: relative;
        width: 350px;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}

@media screen and (max-width:351px)
{
    .nav
    {
        position: relative;
        width: 343px;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}

